<div class="shiai-filters">
    <form method="get" class="row g-2 align-items-end">
        <div class="col-12 col-md-3">
            <label class="form-label mb-1">Evento</label>
            <input class="form-control" type="text" name="event_id" placeholder="UUID" value="{{ filters.event_id }}">
        </div>
        <div class="col-6 col-md-2">
            <label class="form-label mb-1">Classe</label>
            <input class="form-control" type="text" name="class_code" placeholder="SUB-13" value="{{ filters.class_code }}">
        </div>
        <div class="col-6 col-md-1">
            <label class="form-label mb-1">Sexo</label>
            <input class="form-control" type="text" name="sex" placeholder="M/F" value="{{ filters.sex }}">
        </div>
        <div class="col-12 col-md-2">
            <label class="form-label mb-1">Categoria</label>
            <input class="form-control" type="text" name="category_code" placeholder="CAT" value="{{ filters.category_code }}">
        </div>
        <div class="col-6 col-md-2">
            <label class="form-label mb-1">Grupo</label>
            <input class="form-control" type="text" name="belt_group" placeholder="1..8" value="{{ filters.belt_group }}">
        </div>
        <div class="col-6 col-md-2">
            <label class="form-label mb-1">Bracket</label>
            <input class="form-control" type="text" name="bracket_id" placeholder="UUID" value="{{ filters.bracket_id }}">
        </div>
        <div class="col-12 col-md-auto">
            <button type="submit" class="btn btn-primary w-100">Atualizar</button>
        </div>
    </form>
</div>

